* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
}

#container {
    width: 100%;
    /* height: 100%; */
    background-color: lightgreen;
}

#progress-bar {
    height: 40px;
    width: 0;
    background-color: darkgreen;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 100ms;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#content1, #content2, #content3, #content4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#content1 {
    height: 100vh;
    width: 100%;
    background-color: yellow;
}

#content2 {
    height: 100vh;
    width: 100%;
    background-color: red;
}

/* #sectionHolder {
    display: none;
} */

#itemHolder {
    list-style: none;
}



#content3 {
    height: 100vh;
    width: 100%;
    background-color: blue;
}

#content4 {
    height: 100vh;
    width: 100%;
    background-color: gold;
}

#percentageNum {
    margin-right: 15px;
    color: white;
}

/* ! NEW KNOWLEDGE HERE */

.item {
    margin-top: 10px;
    padding: 20px 0;
    font-size: 2rem;
    color: white;
    opacity: 0;;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

}

@keyframes fade-in {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fadeOut {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

}

@keyframes fade-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(200px);
        opacity: 0;
    }
}
